# Eclipse
.classpath
.project
.settings/

# Intelli J
.idea/
*.iml
*.iws

dwsync.xml

_notes/
temp/
tmp/
# Misc

www/
plugins/
node_modules*
.sourcemaps/
app/platforms/android/
app/platforms/ios/

summit-L731-aem/core/target
summit-L731-aem/ui.apps/target

# OS Files
.DS_Store
.brackets.json
*.class

app/package-lock.json
app/package.json
