html, body {
    font-family: "Architects Daughter", sans-serif;
    min-width: 100%;
    margin: 0;
}

body {
    background: url(../images/banner.png) no-repeat center 0 #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#itemCount {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
}

.cartBanner {
    width: 70%;
    float: left;
}

.summitImageBanner {
    width: 30%;
    float: left;
}

.readBtn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 7px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    margin-top: 20px;
}

.readBtn:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #f5f5f5;
}

.pagehead {
    padding: 120px 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 480px;
}

.beesImage {
    float: left;
    padding-right: 5px;
}

.thumbnail {
    height: 400px;
    width: 300px;
    float: left;
}

.thumbnail img {
    height: 60%;
}

.nameDiv {
    height: 20%;
    padding-left: 20%;
    padding-top: 10px;
}

.productPrice {

}

.productButton-wrap {
    padding-left: 20px;
}

.buttonGroup {
    height: 20%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 20%;

}

.pagehead h1 {
    font-size: 45px;
    font-weight: 400;
}

.pagehead p {
    font-size: 18px;
    font-weight: lighter;
}

.navBrand a {
    color: #9d9d9d;
}

.navBrand img {
    padding-bottom: 8px;
    width: 30px;
    height: 30px;
    content: url('http://localhost:3000/images/top_logo.png');
}

.navBrand:hover img {
    width: 30px;
    height: 30px;
    content: url('http://localhost:3000/images/top_logoHover.png');
}

.navBrand:hover a {
    text-decoration: none;
    color: #ffa500;

}

img, a {
    border: none;
    outline: none;
}

.navBrand {
    width: 400px;
}

.cartImage {
    width: 50px;
    height: 50px;
}

header {
    padding-bottom: 15px;
}

.app {
    position: relative;
    display: flex;
}

h4 {
    font-size: 30px;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.container {
    min-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-sm-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.topTitle {
    margin-top: 50px;
}

.cart-container {
    width: 100%;
    padding: 30px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 50px;
}

.col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col {
    flex-basis: 0;
    /* -webkit-box-flex: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    max-width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 50%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 50%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 button {
    margin-top: 15px;
    text-align: right;

}

/*Bootstraped ones*/

.readmoreBlock {
    background-color: rgba(0, 188, 212, 0.83);
}

.videoBlock {
    background-color: rgba(7, 189, 103, 0.93);
}

.sliderBlock {
    background-color: rgba(86, 72, 53, 0.98);
}

.testimonialBlock {
    background-color: rgba(7, 189, 172, 0.82);
}

.joinusBlock {
    background-color: rgba(41, 149, 68, 0.73);
}

.blogBlock {
    background-color: rgba(168, 169, 118, 0.83);
}

.bumbleBee-A-Block {
    background-color: rgba(168, 169, 118, 0.83);
}

.bumbleBeeA:after {
    border-bottom-color: rgba(168, 169, 118, 0.83);
}

.bumbleBee-B-Block {
    background-color: rgba(7, 189, 172, 0.82);
}

.bumbleBeeB:after {
    border-bottom-color: rgba(7, 189, 172, 0.82);
}

.bumbleBee-C-Block {
    background-color: rgba(41, 149, 68, 0.73);
}

.bumbleBeeC:after {
    border-bottom-color: rgba(41, 149, 68, 0.73);
}

/* Block Color Changes */

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    outline: 0;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    text-decoration: none;
}

body .nopad {
    padding: 0;
}

.mtop {
    margin-top: 16px;
}

.mvtop {
    margin-top: 36px;
}

.wrapper {
    max-width: 1400px;
    overflow: hidden;
    margin: auto;
}

.navhead {
    background: rgba(35, 41, 54, 0.5);
    padding: 15px 0;
}

/*.list-inline a {color:#fff; margin-right:30px; text-decoration:none;}*/
.list-inline a {
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}

.list-inline a:hover {
    text-decoration: none;
}

.rndbtn {
    display: inline-block;
    background-color: #296e95;
    text-align: center;
    border-radius: 20px;
    width: auto;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.rndbtn.square {
    height: 42px;
    line-height: 42px;
    border-radius: 0;
    padding-left: 35px;
    padding-right: 35px;
}

.rndbtn:hover, .rndbtn:focus, .rndbtn:active {
    background-color: #256183;
    color: #fff !important;
    text-decoration: none;
}

.readmoreBlock:hover, .readmoreBlock:focus, .readmoreBlock:active {
    color: #fff !important;
    text-decoration: none;
}

.cart {
    margin-top: 10px;
}

.cart a {
    color: #fff;
    position: relative;
}

.cart .badge {
    position: absolute;
    top: -14px;
    left: 10px;
    border-radius: 100%;
    padding: 5px 8px;
    min-width: auto;
}

.cart strong {
    font-weight: normal;
    font-size: 14px;
    padding-left: 14px;
}

.pagehead h1 {
    font-size: 45px;
    font-weight: 400;
}

.pagehead h1 span {
    font-weight: 700;
}

.pagehead p {
    font-size: 18px;
    font-weight: lighter;
}

.card {
    background-color: #fff;
    padding: 40px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
}

h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.paratop {
    padding: 25px 0;
}

.link {
    font-weight: 600;
    font-size: 15px;
}

.box {
    width: 180px;
    height: 180px;
    line-height: 180px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.32);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.box.big {
    width: 100%;
    height: 220px;
    padding: 60px 30px;
    line-height: 24px;
}

.box.big p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

.box a {
    color: #fff;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.abs img {
    vertical-align: middle;
    margin-right: 15px;
}

.topTitle {
    margin-top: 140px;
}

.abs.topRight {
    top: -100px;
    right: 60px;
}

.top {
    margin-top: -20px;
}

.abs.mright {
    right: -40px;
    top: 30px;
    z-index: 2000;
}

.abs.mleft {
    left: -40px;
    top: 30px;
    z-index: 2000;
}

.mindivdr {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 80px;
}

.bigpad {
    padding: 80px 80px 40px;
}

.smtitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}

.tophead {
    padding-top: 60px;
}

.spec h5 {
    font-weight: 400;
    font-size: 12px;
}

.spec p {
    font-size: 13px;
}

.gallery-items {
    font-size: 0;
    margin: 30px 0 0;
}

.gallery-item {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;
}

.gallery-items {
    font-size: 0;
    margin: 30px 0 0;
}

.gallery-item {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;
}

.gallery-expander {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}

.gallery-contents {
    position: relative;
}

.gallery-contents:after {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    -webkit-transition: border-bottom-width 500ms ease;
    -o-transition: border-bottom-width 500ms ease;
    transition: border-bottom-width 500ms ease;
}

.gallery-item.active .gallery-contents:after {
    border-bottom-width: 15px;
}

.gallery-item {
    text-align: left;
    margin: 0 10px;
    padding: 10px 0 0;
    font-size: 13px;
}

.gallery-item a {
    text-decoration: none;
}

.gallery-item a:hover {
    text-decoration: none;
}

.gallery-item .thumbnail {
    position: relative;
    width: 332px;
    margin: auto;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 10px;
}

.gallery-item .thumbnail > img {

}

.gallery-item .title {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-top: 1px solid #ebebeb;
}

.gallery-item .content {
    font-size: 13px;
    margin-bottom: 18px;
}

.gallery-expander-contents {
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.swatch li {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    border: 2px solid #ccc;
}

.swatch li.blue {
    background-color: #5b99d5
}

.swatch li.green {
    background-color: #598527
}

.swatch li.grey {
    background-color: #c5b9b0
}

.swatch li.black {
    background-color: #2d2d2d
}

@media (min-width: 640px) and (max-width: 999px) {

    .gallery-expander-contents {
        width: 640px;
    }
}

.gallery-expander-contents:after {
    clear: both;
    display: table;
    content: '';
}

.gallery-expander-contents > div.col {
    float: left;
}

.col1 {
    width: 350px;
}

.col2 {
    width: 420px;
}

.gallery-expander-contents > div.col + div.col {
    margin-left: 40px;
}

@media (min-width: 640px) and (max-width: 999px) {

    .gallery-expander-contents > div.col + div.col {
        margin-left: 20px;
    }
}

@media (max-width: 639px) {

    .gallery-expander-contents > div.col + div.col {
        margin-left: 0px;
    }
}

.gallery-expander-contents div.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    opacity: 1;
}

.gallery-expander-contents div.title {
    font-weight: 400;
    color: #000;
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 0 16px;
    border: 0;
}

.gallery-expander-contents div.contents {
    font-size: 14px;
    line-height: 24px;
}

.gallery-expander-contents div.image > img {
    display: inline-block;
}

.nopad .overlay {
    width: 89%;
}

.padhead {
    padding-top: 40px;
}

.prdsmhead {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.price {
    font-size: 35px;
    font-weight: 500;
}

.brdr_bottom {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    padding: 7px 0;
    font-size: 24px;
    width: 80px;
    text-align: center;
    color: #fff;
}

.incr li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.thumbnail {
    padding: 0;
}

.thumbnail p {
    font-size: 13px;
}

.carousel.multi {
    padding-bottom: 60px;
}

.carousel-indicators li {
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #333;
}

.team li {
    overflow: hidden;
    position: relative;
    text-align: left;
    margin-bottom: 35px;

}

.team li img {
    height: 470px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 94%;
    border-radius: 3px;
    height: 470px;
    background-color: rgba(0, 0, 0, .75);
    padding: 25px 0 0 25px;
    opacity: 1;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.team li .cont {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 3000;
}

.team li .title {
    font-size: 34px;
    margin-bottom: 0px;
    color: #fff799;
    font-weight: 400;
}

.team li .box, .blog .box {
    width: 220px;
    height: 220px;
    padding: 25px;
    line-height: 34px;
    text-align: left;
}

.team li .head, .blog .box .head, .blog .head {
    font-size: 34px;
    color: #fff;
    margin-bottom: 22px;
}

.blog .head {
    color: #000;
}

.team li p, .blog .box p {
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 25px;
}

.team li p {
    margin-bottom: 7px;
}

.team li .box img, .blog .box img {
    width: auto;
    height: auto;
    box-shadow: none;
}

.bloghead {
    color: #000;
}

.dpub {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: #666;
}

.blog h3 {
    color: #0054a6;
    margin: 10px 0 0;
    font-size: 34px;
}

.rotatebox {
    width: 300px;
    margin: 0 auto;
}

.readBtn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 7px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    margin-top: 20px;
}

.readBtn:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #d8a406;
}

footer {
    background: #fff;
}

footer .inner {
    padding: 30px;
}

footer h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
}

footer h4.media-heading {
    font-size: 15px;
    padding-top: 5px;
    margin: 0;
}

footer input:focus {
    outline: 0;
    border-bottom-color: #39f;
}

footer .subfooter {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    color: #333;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 13px;
}

footer li {
    padding-bottom: 10px;
}

footer a {
    color: #000;
    display: block;
    line-height: 14px;
}

footer .brdr_bottom {
    font-size: 14px;
    width: 220px;
    display: block;
    margin-bottom: 7px;
    color: #333;
    border-bottom-color: #ddd;
}

.img-responsive {
    display: inline-block;
}

.vert li {
    float: none;
    margin-bottom: -1px;
    width: 65px;
}

.vert {
    float: left;
    margin-right: 50px;
    border-bottom: 0;
}

.spec h5 {
    font-weight: 500;
}

.playBtn {
    width: 112px;
    height: 112px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -61px;
    margin-top: -61px;
}

.team li:hover .overlay {
    opacity: 0;
}

.team li:hover .social {
    opacity: 1;
}

.social {
    opacity: 0;
    -webkit-transition: all .5s linear;
}

.social li {
    display: inline-block;
    margin-right: 10px;
}

.social li a {
    color: #fff;
    font-size: 20px;
}

.mobmenu {
    font-size: 18px;
    color: #fff;
    display: none;
}

.media:first-child {
    margin-top: 10px;
}

@media all and (max-width: 1030px) {
    .gallery-item .thumbnail {
        width: 264px;
    }
}

@media all and (max-width: 960px) {

    .team li img, .overlay {
        height: auto;
    }

    .prdsmhead {
        margin-bottom: 10px;
    }

    .price {
        margin-bottom: 20px;
        display: block;
    }

    .padhead {
        padding-top: 18px;
    }

    p {
        font-size: 14px;
    }

    .blog h3, .team li .title, h3 {
        font-size: 24px;
    }

    .paratop {
        padding: 15px 0;
    }

    .card {
        padding: 20px;
    }

    .gallery-expander-contents {
        width: 100%;
    }

    .topTitle {
        margin-top: 70px;
    }

    .gallery-item .thumbnail {
        width: 100%;
    }

    .gallery-expander-contents div.title {
        font-size: 28px;
        line-height: 34px;
    }

    .vert {
        margin-bottom: 10px;
        margin-right: 0
    }

    .vert li {
        float: left;
    }

    .mobmenu {
        position: absolute;
        left: 0;
        width: 32px;
        height: 32px;
        display: block;
        padding-left: 15px;
        cursor: pointer;
    }

    .logo {
        float: left;
        margin-left: 50px;
    }

    .colMenu {
        position: absolute;
        width: 240px;
        height: 100%;
        top: 60px;
        left: -240px;
        background-color: rgba(0, 0, 0, 0.5);
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        padding-top: 20px;
        z-index: 1000;
    }

    .colMenu.open {
        left: 0;
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
    }

    .colMenu li {
        display: block;
        padding: 10px 10px;
        text-align: left;
    }

    .abs.mright {
        right: 0;
        top: auto;
        z-index: 2000;
        left: 0;
        height: auto;
        padding: 20px;
        bottom: -60px;
    }

    .abs.mleft {
        right: 0;
        top: auto;
        z-index: 2000;
        left: 0;
        height: auto;
        padding: 20px;
        bottom: -60px;
    }

    .mcol {
        margin: 60px 0 0;
    }

    .box.big {
        width: 100%;
        height: auto;
        padding: 10px;
        line-height: 24px;
    }

    .gallery-expander-contents {
        padding: 15px;
    }

    .bigpad {
        padding: 30px 15px;
    }

    .tophead {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .mvtop {
        margin-bottom: 24px;
    }

    .overlay {
        width: 100%
    }

    .topTitle {
        margin-top: 35px;
    }

    .text-right {
        text-align: center;
    }

    .mobleft {
        margin-left: 20px;
    }

    .box.big p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .mcright {
        float: right;
    }

    footer h5 {
        margin-top: 20px;
    }

    .paratop {
        padding: 15px 0;
    }

    .rndbtn.square {
        height: 34px;
        line-height: 34px;
    }

    .gallery-expander-contents > div.col, .col1, .col2 {
        width: 100%;
    }

    .gallery-expander-contents div.title {
        margin-top: 15px;
    }

    .tab-content {
        margin: 20px 0;
    }

}

@media all and (max-width: 320px) {

    .rotatebox {
        overflow: hidden;
    }

    .container {
        padding: 0;
    }

}
