.page-summit-speakers{

  background-image: url('../assets/images/home-background.png');
  ion-header {
    .toolbar-title {
      font-weight: 200;
    }
    .rightButton ion-icon {
      content: url('../assets/images/logo-login.png');
      height: 25px;
      width: 25px;
    }
  }

  ion-card-title h1 {
    position: relative;
    text-align: center;
    color: #3EBDC2;
    font-weight: bolder;
  }

  ion-card-content {
    text-align: left;
  }

  .speaker-name {
    color: #3EBDC2;
    font-weight: bolder;
  }

  ion-icon {
    color: #3EBDC2;
  }
}