identifier="default"
endpoint="https://runtime.adobe.io/api/v1/web/summit2018-L735/default/"
acceptSelfSignedCertificates="true"
maxHttpConnections="20"
cachingEnabled="true"
maxCachedEntries="1000"
maxCachedObjectSize="131072"
cartCacheEntryTimeToLive="2000"
catalogCachingEnabled="true"
catalogCachingTimeMinutes="60"
catalogCachingSchedulerEnabled="true"